.cs-box {
  margin-left: -36px;
  width: 792px;
}
.cs-box dl {
  float: left;
  margin-left: 38px;
  margin-bottom: 30px;
  width: 160px;
}
.cs-box dt {
  text-align: center;
  margin-bottom: 10px;
}
.cs-box dt img {
  width: 100%;
}
.cs-box dd {
  color: #777;
}
.cs-detail-box .dt-cont {
  padding: 0 10px;
  line-height: 2;
}
.cs-detail-box .dt-cont h1 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
.cs-detail-box .dt-cont h3 {
  margin-bottom: 5px;
  font-size: 14px;
}
.cs-detail-box .dt-cont p,
.cs-detail-box .dt-cont div {
  margin: 5px 0;
}
.cs-detail-box .dt-cont p {
  text-indent: 2em;
}
.cs-detail-box .dt-cont p img {
  float: left;
  margin: 0 10px 10px 0;
}
