.pr-box dl {
  position: relative;
  padding: 14px 0;
  border-bottom: 1px solid #e4e4e4;
}
.pr-box a {
  color: #777;
}
.pr-box dt {
  font-size: 14px;
  font-weight: bold;
}
.pr-box span {
  color: #999;
}
