.cs-box{
	@ml: 36px;
	margin-left: -@ml;
	width: 792px;
	dl{
		float: left;
		margin-left: @ml + 2px;
		margin-bottom: 30px;
		width: 160px;
	}
	dt{
		text-align: center;
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	dd{
		color: #777;
	}

}

.cs-detail-box{
	.dt-cont{
		padding: 0 10px;
		line-height: 2;
		h1{
			margin-bottom: 20px;
			font-size: 20px;
			text-align: center;
		}
		h3{
			margin-bottom: 5px;
			font-size: 14px;
		}
		p, div{
			margin: 5px 0;
		}
		p{
			text-indent: 2em;
			img{
				float: left;
				margin: 0 10px 10px 0;
			}
		}

	}
}